@media (max-width: 1200px)
    .container
        max-width: 960px
    .hotel
        &-slider
            width: 600px
    .card
        width: 230px
        height: 230px
    .packages 
        &-cards
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            &__first
                grid-column-start: 1
                grid-column-end: 3
                display: flex
                position: relative
            &__info-other
                width: 300px
                &-one
                    padding: 30px 21px 25px 32px
            &__info-one
                min-width: 315px
        &-wrap
            width: 100%
        &__paragraph
            margin: 27px 0px 17px 0px
        &__price-one
            margin-top: 41px
        &__button
            padding-left: 10px
            padding-right: 10px
    .footer
        &__input
            &-group
                flex-basis: 100%
        &-confidentiality
            display: flex
            justify-content: space-between
        &-payment
            margin-left: 0
        &__title
            
@media (max-width: 992px)
    .container, .newsletter-wrapper
        max-width: 700px
    .container-menu
        max-width: 673px
    .newsletter-wrapper
        margin-top: -6px
        margin-bottom: 6px
    .logo
        width: 132px
    
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: 48px
            
        &-menu
            padding-top: 21px
            padding-bottom: 21px
            &__link
                font-size: 12px
                line-height: 15px 
                font-style: normal
                font-weight: bold
    .search
        &__input
            width: 340px
            // margin-left: -24px
    .hotel
        padding-bottom: 0
        &-grid
            flex-direction: column
        &__slider
            margin-bottom: 30px
        &-right
            flex-direction: row
        &-slider
            width: 100%
    .booking
        width: 340px
        padding: 29px 22px 26px 23px
    .map
        max-width: 340px
        height: 210px
    .reviews
        &-slider
            &__item
                max-width: 580px
            &__button
                top: 50%
                width: 31px
        &__title
            font-size: 30px
            line-height: 38px
            margin-bottom: 50px

    .activities
        padding-top: 31px
        padding-bottom: 50px
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px
        &__title
            margin-top: 58px
    .card
        width: 339px
        height: 255px
    .packages 
        padding-bottom: 60px
        &-cards
            display: grid
            grid-template: 500px 500px / 1fr 1fr
            &__info
                width: 335px
                &-one
                    width: 366px
                    padding: 30px 21px 25px 32px
            &__info-one
                min-width: 350px
        &-wrap
            width: 100%
        &__paragraph
            margin: 27px 0px 51px 0px
        &__price-one
            margin-top: 41px
        &__title
            font-size: 30px
            line-height: 38px
            padding-bottom: 50px
    .footer
        &__title
            margin-top: 9px
            &--inline
                margin-top: 0
        &__form
            max-width: 539px
        &-wrapper
            grid-template-columns: repeat(6, 1fr)
            grid-row-gap: 40px
        &__input
            &-group
                flex-basis: 47%     
        &__logo
            grid-row: 1 / 2
            grid-column: 1 / 2
            margin-top: -36px
            width: 96px
        &__social
            &-network  
                grid-row: 1 / 2
                grid-column: 2 / 7
                margin-left: 61px
                margin-top: -23px
                align-self: center
        &__categories
            grid-row: 2 / 3
            grid-column: span 2
            padding-left: 0
        &__additional
            grid-column: span 2
            margin-left: -44px
        &__legal
            grid-column: span 2
            padding-left: 19px
        &__contact
            &-details
                grid-column: span 5
                grid-row: 3
            &-form
                grid-column: span 5
                grid-row: 4
                margin-top: -7px
                margin-left: 0
        &-confidentiality
            margin-top: 54px
            margin-left: -11px
    .modal
        &__dialog
            min-width: 310px
            padding: 20px 35px
    .breadcrumb
        &-list
            padding-top: 19px
            &__link
                font-style: normal
                font-weight: normal
                font-size: 10px
                line-height: 13px
                color: $dark
    .search__button, .booking__button, .packages__button, .subscribe__button, .card__button, .footer__button, .modal__button
        &:hover
            background-color: $primary
    .thankyou__link
        &:hover
            background-color: $primary
    .user__name
        &:hover
            color: $text-color
    .footer__link, .footer-link, .footer-mail
        &:hover
            color: $footer-text-color
    .footer__svg
        &:hover
            fill: $footer-text-color
    .footer__contract, .navbar-menu__link
        &:hover
            color: $light
@media (max-width: 767px)
    .container
        max-width: 576px
        width: 92%
    body
        padding-top: 78px
    .navbar
        &__search
            margin-left: -4px
        &--mobile
            &_fixed
                position: fixed
                left: 0
                top: 0
                right: 0
                z-index: 99
        &__search, &__user
            &--mobile
                &--hidden
                    display: none
                &--visible
                    display: flex
                    margin-top: 4px
        &__user
            flex-direction: column
            justify-content: center
        &-bottom
            display: none
            position: fixed
            left: 0
            right: 0
            bottom: 0
            top: 72px
            padding-top: 30px
            &--visible
                display: block

        &-menu
            flex-direction: column
            padding-top: 1px
            &__item
                margin-bottom: 18px
                &:nth-child(3)
                    margin-top: 17px
                &--mobile
                    &--visible
                        display: block

    .menu
        &-button
            width: 16px
            height: 11px
            padding: 0
            display: flex
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: $light
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .user
        &__name
            &--light
                color: $light
                margin-left: 0
                margin-top: 9px
    .stars
        flex-basis: auto
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &-name
                margin-top: 10px
                margin-bottom: 0
            &-text
                width: 100%
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
    .hotel
        &-slider
            height: 350px
        &-right
            flex-direction: column
            min-height: 450px
    .booking
        width: 100%
    .map
        min-width: 100%
    .newsletter
        &-wrapper
            max-width: 576px
            width: 92%
            flex-direction: column
            align-items: flex-start
        &-title
            font-size: 20px
            line-height: 25px
            &__strong
                font-size: 30px
                line-height: 38px
    .reviews
        &-slider
            &__item
                max-width: 580px
                padding: 0 30px 30px
                &::after, &::before
                    display: none
            &__button
                top: 32px
                
                transform: translate(-50%, 0)
                &--prev
                    left: 50%
                    margin-left: -65px
                    transform: translate(-50%, 0)
                &--next
                    right: 50%
                    margin-right: -65px
                    transform: translate(50%, 0)
        &__title
            font-size: 18px
            line-height: 23px
    .activities
        padding-top: 40px
        padding-bottom: 60px
        &__title
            font-size: 18px
            line-height: 23px
    .card
        width: 49%
        height: 255px
    .packages
        padding-top: 40px
        &__title
            font-size: 18px
            line-height: 23px
        &-cards
            // &__other
            //     border: 1px solid green
            //     grid-column-start: 1
            //     grid-column-end: 3
    .packages 
        &-cards
            grid-template: 800px 500px / 1fr 1fr
            &__first
                flex-direction: column
            &__other
                // border: 1px solid green
                grid-column-start: 1
                grid-column-end: 3
            &__info
                width: 100%
                &-one
                    width: 100%
                    height: 100%
                    padding: 30px 21px 25px 32px
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    border-radius: 0px 0px 8px 8px
        &-wrap
            width: 100%
            &__image--first
                border-radius: 8px 8px 0px 0px
        &__paragraph
            margin: 27px 0px 51px 0px
        &__price-one
            margin-top: 41px
            display: flex
            align-items: 
        &-wrap--first
            width: 100%
            height: 250px
    // .footer
    //     &__input
    //         &-group 
    //             flex-basis: 100%
    //     &__title
    //         white-space: normal
    .footer
        padding-top: 167px
        padding-bottom: 18px
        &-wrapper
            grid-template-columns: 1fr
        &__logo
            grid-row: 1 
            grid-column: 1 
            margin-top: -130px
        &__social
            &-network
                grid-row: 2
                grid-column: 1
                margin-left: -5px
                margin-top: -34px
                flex-direction: column
            &-links
                margin-top: 24px
        &__additional
            grid-row: 4
            grid-column: 1
            margin-left: -5px
            margin-top: -16px
        &__categories
            grid-row: 5
            grid-column: 1
            margin-top: -22px
        &__legal
            grid-row: 3
            grid-column: 1
            margin-left: -20px
            margin-top: -26px
        &__contact
            &-details
                grid-row: 6
                grid-column: 1
                margin-top: -8px
            &-form
                grid-row: 7
                grid-column: 1   
                margin-top: -11px  
        &__block
            display: flex
            flex-direction: column-reverse
            align-items: flex-start
        &__info
            margin-top: 15px
            margin-bottom: 15px
        &-confidentiality
            display: flex
            flex-direction: column
            justify-content: space-between
        &-payment
            margin-top: 10px
        &__title
            margin-right: 0
        &__icon
            &-wrapper
                min-width: 27px
        &__item
            &--mb-2
                margin-bottom: 21px
        &__form
            margin-top: -20px
        &__info
            margin-top: -9px
        &__contract
            margin-left: 0
        &__information
            margin-top: -28px
            margin-left: 7px
        &-payment
            margin-left: 10px
        &-link
            white-space: nowrap
    .modal
        &__block
            display: flex
            flex-direction: column-reverse
            align-items: flex-start
        &__info
            padding-top: 10px
            padding-bottom: 10px
    .modal__dialog
        overflow-y: auto
        max-height: 100vh

    .navbar-bottom--visible
        overflow-y: auto
        max-height: 100vh
@media (max-width: 576px)
    .container, .newsletter-wrapper
        max-width: 480px
        width: 92%
    // .logo
    //     &__image
    //         width: 99px
    .hotel
        padding-top: 5px
        &-slider
            height: 179px
            margin-bottom: 20px
            margin-top: 18px
        &-info
            &__offer
                margin-top: 0px
            &__name
                margin-top: 9px
    
    .newsletter
        padding: 76px 0 78px 0
        &__title
            margin-bottom: 37px
            margin-top: 7px
            margin-left: 7px
        &-title
            &__strong
                margin-top: 4px
    .subscribe
        min-width: 100%
        
        &__input
            width: 209px
            margin-left: 6px
    .reviews
        padding-top: 39px
        &__title
            font-size: 18px
            width: 90%
            margin-left: 13px
            margin-bottom: 42px
        &-slider
            &__text
                text-align: left
            &__button
                top: 30px
                &--prev
                    left: 40%
                &--next
                    right: 42% 

    .card
        width: 100%
        margin-top: -10px
        margin-bottom: 10px
            

    .search
        &__input
            width: 245px
    .navbar
        &-top
            padding-top: 25px
    .breadcrumb
        &-list
            padding-top: 11px
    .stars
        margin-right: 14px
        margin-top: -1px
    .booking
        &__num
            margin-right: 2px
    .packages
        padding-bottom: 40px
        &__title
            padding-bottom: 42px
        &-cards
            &__info-one
                min-width: 280px
    .activities
        margin-top: -91px
        margin-bottom: -33px
        &-wrapper
            min-height: 1111px
            align-items: space-between
        &__title
            margin-bottom: 47px
            margin-top: 114px
        &__card:nth-child(2)
            order: 1
        &__card:nth-child(4)
            order: 2

    .modal__input
        height: 40px
    // .modal__message
    //     min-height: 90px
    // .message
    //     height: 90px
@media (max-width: 480px)
    .container , .newsletter-wrapper
        max-width: 280px
        width: 100%
    .newsletter__title
        margin-left: 1px
    .newsletter__subscribe
        margin-left: -4px
    .footer
        &__logo
            margin-top: -100px
    .logo
        width: 96px
    .footer__input-group 
        flex-basis: 100%
    
        